@namespace DRApplication.Client.Controls.Configurations
@inject LoadManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@LoadEditVm != null)
        {
            <EditForm Model="@LoadEditVm" OnValidSubmit="@UpdateHarwareConfig">

                <label for="Name">Hardware Configuration</label>
                <InputText class="form-control" @bind-Value="LoadEditVm.Name" />

                <DeviceTypeSelectComponent DeviceTypeIdChange="UpdateDeviceType" SelectedDeviceTypeId="@LoadEditVm.DeviceTypeId"></DeviceTypeSelectComponent>

                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Small">Update</MudButton>
                <MudButton Link="/hardwareconfig" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Cancel</MudButton>

            </EditForm>
        }
    </div>
</div>