@namespace DRApplication.Client.Controls.Configurations
@inject LoadManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@LoadEditVm != null)
        {
            <EditForm Model="@LoadEditVm" OnValidSubmit="@UpdateLoad">

                <label for="Name">Hardware Configuration</label>
                <InputText class="form-control" @bind-Value="LoadEditVm.Name" />

                <DeviceTypeSelectComponent DeviceTypeIdChange="UpdateDeviceType" SelectedDeviceTypeId="@LoadEditVm.DeviceTypeId"></DeviceTypeSelectComponent>

                <SubmitButton ButtonText="Update"/>
                <CancelButton Url="/load"/>

            </EditForm>
        }
    </div>
</div>