@namespace DRApplication.Client.Controls
@inject VersionsLoadManager manager
@inject NavigationManager navigation

<h3>Add New Software Version/Load</h3>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@_versionsLoadInsertVm != null)
        {
            <EditForm Model="@_versionsLoadInsertVm" OnValidSubmit="@InsertVersionLoad">

                <SoftwareVersionSelect SoftwareVersionIdChange="UpdateVersion" SelectedSoftwareVersionId="@_versionsLoadInsertVm.SoftwareVersionId" />

                <LoadSelect LoadIdChange="UpdateLoad" SelectedLoadId="@_versionsLoadInsertVm.LoadId"/>

                <SubmitButton ButtonText="Insert"/>
                <CancelButton Url="/versionsload"/>
            </EditForm>
        }
    </div>
</div>