@namespace DRApplication.Client.Controls.Configurations
@inject VersionsLoadManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@VersionsLoadEditVm != null)
        {
            <EditForm Model="@VersionsLoadEditVm" OnValidSubmit="@UpdateHarwareConfig">

                <LoadSelect LoadIdChange="UpdateLoadId" SelectedLoadId="@VersionsLoadEditVm.LoadId"/>

                <SoftwareVersionSelect SoftwareVersionIdChange="UpdateSoftwareVersionId" SelectedSoftwareVersionId="@VersionsLoadEditVm.SoftwareVersionId"/>

                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Small">Update</MudButton>
                <MudButton Link="/versionsload" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Cancel</MudButton>

            </EditForm>
        }
    </div>
</div>