@namespace DRApplication.Client.Controls
@inject VersionsLoadManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@VersionsLoadEditVm != null)
        {
            <EditForm Model="@VersionsLoadEditVm" OnValidSubmit="@UpdateHarwareConfig">

                <LoadSelect LoadIdChange="UpdateLoadId" SelectedLoadId="@VersionsLoadEditVm.LoadId"/>

                <SoftwareVersionSelect SoftwareVersionIdChange="UpdateSoftwareVersionId" SelectedSoftwareVersionId="@VersionsLoadEditVm.SoftwareVersionId"/>

                <SubmitButton ButtonText="Update"/>
                
                <CancelButton Url="/versionsload"/>

            </EditForm>
        }
    </div>
</div>