@page "/hardwareversion"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
    Hardware Versions
</h3>

<div class="row">
    <div class="col col-md-8 col-sm-12">
        <HardwareVersionComponent></HardwareVersionComponent>
    </div>
</div>