@namespace DRApplication.Client.Controls.Configurations
@inject HardwareVersionsConfigManager manager
@inject NavigationManager navigation

<h3>Add New Hardware Version/Config</h3>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@_hardwareVersionsConfigInsertVm != null)
        {
            <EditForm Model="@_hardwareVersionsConfigInsertVm" OnValidSubmit="@InsertHardwareVersionConfig">

                <HardwareVersionSelect HardwareVersionIdChange="UpdateVersion" SelectedHardwareVersionId="@_hardwareVersionsConfigInsertVm.HardwareVersionId"></HardwareVersionSelect>

                <HardwareConfigSelect HardwareConfigIdChange="UpdateConfig" SelectedHardwareConfigId="@_hardwareVersionsConfigInsertVm.HardwareConfigId"></HardwareConfigSelect>

                <SubmitButton ButtonText="Insert"/>
                <CancelButton Url="/hardwareversionsconfig"/>
            </EditForm>
        }
    </div>
</div>


