@namespace DRApplication.Client.Controls.Configurations
@inject HardwareVersionsConfigManager manager

<div class="row mb-4">
    <div class="col col-md-6 col-sm-12">
        <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Success" Link="/hardwareversionsconfig/create">New</MudButton>
    </div>
</div>

<MudTable Items="@_hardwareVersionsConfigVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Hardware Version</MudTh>
        <MudTh>Hardware Config</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Version">
            <MudTd DataLabel="Thread">
                <HardwareVersionLabel HardwareVersionId=@context.HardwareVersionId />
            </MudTd>
        </MudTd>
        <MudTd DataLabel="Config">
            <HardwareConfigLabel HardwareConfigId=@context.HardwareConfigId />
        </MudTd>
        <MudTd DataLabel="SELECT">
            <a href="/hardwareversionsconfig/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    IEnumerable<HardwareVersionsConfigVm> _hardwareVersionsConfigVms;

    protected override async Task OnInitializedAsync()
    {
        var items = await manager.GetAllAsync();
        _hardwareVersionsConfigVms = Mapping.Mapper.Map<List<HardwareVersionsConfigVm>>(items);
    }
}
