@namespace DRApplication.Client.Controls.Configurations
@inject HardwareConfigManager manager
@inject NavigationManager navigation

<div class="form-group">
    <label>Hardware Config</label>
    <InputSelect ValueExpression="@(()=> SelectedHardwareConfigId)" id="hardwareConfigSelect" DisplayName="Hardware Config" class="form-control" Value="SelectedHardwareConfigId"
                 ValueChanged="@((int? value) => ChangeHardwareConfig(value))">
        <option value=0>------</option>
        @foreach (var item in _hardwareConfigVms)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
</div>


