@namespace DRApplication.Client.Controls.Configurations
@inject HardwareVersionsConfigManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@HardwareVersionsConfigEditVm != null)
        {
            <EditForm Model="@HardwareVersionsConfigEditVm" OnValidSubmit="@UpdateHardwareVersionsConfig">

                <HardwareVersionSelect HardwareVersionIdChange="UpdateHardwareVersion" SelectedHardwareVersionId=HardwareVersionsConfigEditVm.HardwareVersionId />

                <HardwareConfigSelect HardwareConfigIdChange="UpdateHardwareConfig" SelectedHardwareConfigId=HardwareVersionsConfigEditVm.HardwareConfigId />

                <SubmitButton ButtonText="Update"/>
                <CancelButton Url="/hardwareversionsconfig"/>
            </EditForm>
        }
    </div>
</div>

