@page "/hardwareconfig/edit/{HardwareConfigId:int}"

<h3>HardwareConfigEdit</h3>

<HardwareConfigEditComponent HardwareConfigId="@HardwareConfigId"></HardwareConfigEditComponent>

@code {

    [Parameter]
    public int HardwareConfigId { get; set; }

}
