@namespace DRApplication.Client.Controls.Configurations
@inject HardwareSystemManager manager
@inject NavigationManager navigation

<div class="form-group">
    <label>Hardware System</label>
    <InputSelect ValueExpression="@(()=> SelectedHardwareSystemId)" id="hardwareSystemSelect" DisplayName="Hardware System" class="form-control" Value="SelectedHardwareSystemId"
                 ValueChanged="@((int? value) => ChangeHardwareSystem(value))">
        <option value=0>------</option>
        @foreach (var item in _hardwareSystemVms)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
</div>