@namespace DRApplication.Client.Controls
@inject HardwareSystemManager manager

<NewButton Url="/hardwaresystem/create"/>

<MudTable Items="@_hardwareSystemVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Edit</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Edit">
            <a href="/hardwaresystem/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>