@namespace DRApplication.Client.Controls.Configurations
@inject HardwareSystemManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@HardwareSystemEditVm != null)
        {
            <EditForm Model="@HardwareSystemEditVm" OnValidSubmit="@UpdateHardwareSystem">

                <label for="Name">Hardware System</label>
                <InputText class="form-control" @bind-Value="HardwareSystemEditVm.Name" />

                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Small">Update</MudButton>
                <MudButton Link="/hardwaresystem" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Cancel</MudButton>

            </EditForm>
        }
    </div>
</div>

