@namespace DRApplication.Client.Controls.Configurations
@inject HardwareSystemManager manager
@inject NavigationManager navigation

<h3>Add New Hardware System</h3>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@_harwareSystemInsertVm != null)
        {
            <EditForm Model="@_harwareSystemInsertVm" OnValidSubmit="@InsertHardwareSystem">

                <label for="Name">Hardware System</label>
                <InputText class="form-control" @bind-Value="_harwareSystemInsertVm.Name" />

                <SubmitButton ButtonText="Insert"/>
                <CancelButton Url="/hardwaresystem"/>
            </EditForm>
        }
    </div>
</div>


