@namespace DRApplication.Client.Controls
@inject ManagerService ManagerService
@inject AppState AppState
@inject IMapperService MapperService

<NewButton Url="/hardwaresystem/create" />

<MudTable Items="@AppState.HardwareSystemVms" Hover="true" Striped="true" Dense="true" Class="my-4">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Edit</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Edit">
            <a href="/hardwaresystem/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    bool _isBusy;

    async Task SetHardwareSystems()
    {
        var hardwareSystems = await ManagerService.HardwareSystemManager().GetAllAsync();
        var hardwareSystemVms = await MapperService.HardwareSystemVmsFromHardwareSystemsAsync(hardwareSystems);
        AppState.UpdateHardwareSystemVms(this, hardwareSystemVms);
    }
    
    protected override async Task OnInitializedAsync()
    {
        _isBusy = true;
        await SetHardwareSystems();
        _isBusy = false;
    }

}