@namespace DRApplication.Client.Controls.Configurations
@inject HardwareSystemManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@HardwareSystemEditVm != null)
        {
            <EditForm Model="@HardwareSystemEditVm" OnValidSubmit="@UpdateHardwareSystem">

                <label for="Name">Hardware System</label>
                <InputText class="form-control" @bind-Value="HardwareSystemEditVm.Name" />

                <SubmitButton ButtonText="Update"/>
                <CancelButton Url="/hardwaresystem"/>

            </EditForm>
        }
    </div>
</div>

