@namespace DRApplication.Client.Controls
@inject DeviceTypeManager manager
@inject NavigationManager navigation

<div class="form-group">
    <label>Device Type</label>
    <InputSelect ValueExpression="@(()=> SelectedDeviceTypeId)" id="deviceTypeSelect" DisplayName="Device Type" class="form-control" Value="SelectedDeviceTypeId"
                 ValueChanged="@((int? value) => ChangeDeviceType(value))">
        <option value=0>------</option>
        @foreach (var item in _deviceTypeVms)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
</div>


