@namespace DRApplication.Client.Controls.Configurations
@inject HardwareConfigManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@HardwareConfigEditVm != null)
        {
            <EditForm Model="@HardwareConfigEditVm" OnValidSubmit="@UpdateHarwareConfig">

                <label for="Name">Hardware Configuration</label>
                <InputText class="form-control" @bind-Value="HardwareConfigEditVm.Name" />

                <DeviceTypeSelectComponent DeviceTypeIdChange="UpdateDeviceType" SelectedDeviceTypeId="@HardwareConfigEditVm.DeviceTypeId"></DeviceTypeSelectComponent>

                <SubmitButton ButtonText="Update"/>
                <CancelButton Url="/hardwareconfig"/>
            </EditForm>
        }
    </div>
</div>