@namespace DRApplication.Client.Controls
@inject HardwareConfigManager manager

<NewButton Url="/hardwareconfig/create"/>

<MudTable Items="@_hardwareConfigVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Config</MudTh>
        <MudTh>Device Type</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Thread">@context.Id</MudTd>
        <MudTd DataLabel="Thread">@context.Name</MudTd>
        <MudTd DataLabel="Thread">
          <DeviceTypeLabel DeviceTypeId=@context.DeviceTypeId />
        </MudTd>
        <MudTd DataLabel="SELECT">
            <a href="/hardwareconfig/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>