@namespace DRApplication.Client.Controls.Configurations
@inject HardwareVersionManager manager
@inject NavigationManager navigation

<div class="form-group">
    <label>Hardware Version</label>
    <InputSelect ValueExpression="@(()=> SelectedHardwareVersionId)" id="hardwareVersionSelect" DisplayName="Hardware Version" class="form-control" Value="SelectedHardwareVersionId"
                 ValueChanged="@((int? value) => ChangeHardwareVersion(value))">
        <option value=0>------</option>
        @foreach (var item in _hardwareVersionVms)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
</div>

@code {

    [Parameter]
    public EventCallback<int?> HardwareVersionIdChange { get; set; }

    [Parameter]
    public int? SelectedHardwareVersionId { get; set; }

    [CascadingParameter]
    public AppStateComponent? AppStateComponent { get; set; }

    private List<GenericListVm> _hardwareVersionVms = new();

    private async Task ChangeHardwareVersion(int? value)
    {
        if (AppStateComponent is not null)
        {
            SelectedHardwareVersionId = Convert.ToInt32(value);
            AppStateComponent.AppStateReset();
            await HardwareVersionIdChange.InvokeAsync(SelectedHardwareVersionId);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        var hardwareVersions = await manager.GetAllAsync();
        _hardwareVersionVms = Mapping.Mapper.Map<List<GenericListVm>>(hardwareVersions);
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (AppStateComponent is not null && AppStateComponent.HardwareVersionId is not null)
            {
                await Task.Delay(0);
                SelectedHardwareVersionId = AppStateComponent.HardwareVersionId != null ? AppStateComponent.HardwareVersionId : 0;
            }
        }
        catch { }
    }

}
