@namespace DRApplication.Client.Controls
@inject HardwareVersionManager manager
@inject NavigationManager navigation

<h3>Add New Hardware Version</h3>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@_hardwareVersionInsertVm != null)
        {
            <EditForm Model="@_hardwareVersionInsertVm" OnValidSubmit="@InsertHardwareVersion">

                <label for="Name">Hardware Version</label>
                <InputText class="form-control" @bind-Value="_hardwareVersionInsertVm.Name" />

                <HardwareSystemSelect SelectedHardwareSystemId="@_hardwareVersionInsertVm.HardwareSystemId" HardwareSystemIdChange="UpdateHardwareSystem" />

                <label for="Name">Version Date</label>
                <InputDate class="form-control" @bind-Value="_hardwareVersionInsertVm.VersionDate" />

                <SubmitButton ButtonText="Insert"/>
                <CancelButton Url="hardwareversion"/>
            </EditForm>
        }
    </div>
</div>


