@namespace DRApplication.Client.Controls.Configurations
@inject HardwareVersionManager manager
@inject NavigationManager navigation

<div class="form-group">
    <label>Hardware Version</label>
    <InputSelect ValueExpression="@(()=> SelectedHardwareVersionId)" id="hardwareVersionSelect" DisplayName="Hardware Version" class="form-control" Value="SelectedHardwareVersionId"
                 ValueChanged="@((int? value) => ChangeHardwareVersion(value))">
        <option value=0>------</option>
        @foreach (var item in _hardwareVersionVms)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
</div>