@namespace DRApplication.Client.Controls.Configurations
@inject HardwareVersionManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@HardwareVersionEditVm != null)
        {
            <EditForm Model="@HardwareVersionEditVm" OnValidSubmit="@UpdateHardwareVersion">

                <label for="Name">Hardware Version</label>
                <InputText class="form-control" @bind-Value="HardwareVersionEditVm.Name" />

                <HardwareSystemSelect HardwareSystemIdChange="UpdateHardwareSystem" SelectedHardwareSystemId="@HardwareVersionEditVm.HardwareSystemId"></HardwareSystemSelect>

                <label for="Name">Version Date</label>
                <InputDate class="form-control" @bind-Value="HardwareVersionEditVm.VersionDate" />

                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Size="Size.Small">Update</MudButton>
                <MudButton Link="/hardwareconfig" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Cancel</MudButton>

            </EditForm>
        }
    </div>
</div>

