@namespace DRApplication.Client.Pages.Configuration
@page "/hardwareconfig"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
    HardwareConfigs
</h3>

<div class="row">
    <div class="col col-md-8 col-sm-12">
        <HardwareConfigComponent></HardwareConfigComponent>
    </div>
</div>