@namespace DRApplication.Client.Controls
@inject SoftwareSystemManager manager

<NewButton Url="/softwaresystem/create"/>

<MudTable Items="@_softwareSystemVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Hardware Config</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Config">
            <HardwareConfigLabel HardwareConfigId=@context.HardwareConfigId />
        </MudTd>
        <MudTd DataLabel="SELECT">
            <a href="/softwaresystem/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>


