@namespace DRApplication.Client.Controls

@inject AppState AppState
@inject ISoftwareService SoftwareService
@implements IDisposable

<NewButton Url="/softwaresystem/create" />

@if (AppState.HardwareConfigVm.Id > 0)
{
    <MudTable Items="@AppState.SoftwareSystemVms" Class="my-4" Hover="true" Striped="true" Dense="true">
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Software System</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Software System">@context.Name</MudTd>
            <MudTd DataLabel="SELECT">
                <a href="/softwaresystem/edit/@context.Id" role="button">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>
                </a>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {

    bool _isBusy;

    private async Task SetSoftwareSystems()
    {
        var softwareSystemVms = await SoftwareService.GetSoftwareSystemsByHardwareConfigId(AppState.HardwareConfigVm.Id);
        AppState.UpdateSoftwareSystemVms(this, softwareSystemVms);
    }

    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this)
        {
            if (Property == "HardwareConfigVm")
            {
                await SetSoftwareSystems();
                await InvokeAsync(StateHasChanged);
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        _isBusy = true;
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
        await SetSoftwareSystems();
        _isBusy = false;
    }
    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}

