@namespace DRApplication.Client.Controls.Platforms

<table class="mud-table-root">
    <thead class="mud-table-head">
        <tr class="mud-table-row">
            <th scope="col" class="mud-table-cell">ID</th>
        </tr>
    </thead>
    <tbody class="mud-table-body">
        <tr class="mud-table-row">
            <td data-label="ID" class="mud-table-cell">hi</td>
        </tr>
    </tbody>
</table>

@code {

    [CascadingParameter]
    public IEnumerable<MaintainerVm> MaintainerVms { get; set; }


}
