@namespace DRApplication.Client.Controls.Platforms

<BasicTable Data="MaintainerVms" TItem="MaintainerVm">
    
    <BHeaderTemplate>
        @HeaderText
    </BHeaderTemplate>

    <BRowTemplate>
        <MudTd DataLabel="Thread">@context.Id</MudTd>
        <MudTd DataLabel="Thread">@context.Name</MudTd>
        <MudTd DataLabel="SELECT">
            <a href="/maintainer/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </BRowTemplate>

</BasicTable>

@code {

    [CascadingParameter] 
    public IEnumerable<MaintainerVm> MaintainerVms { get; set; }

    private string HeaderText = string.Empty;

    private TableTemplateBuilder<MaintainerVm>? builder { get; set; }

    private async Task BuildTableComponents()
    {
        HeaderText = await Task.FromResult(builder.GetHeaderTemplate());
    }
    protected override async Task OnInitializedAsync()
    {
        //builder = new TableTemplateBuilder<MaintainerVm>(new MaintainerVm());
        //await BuildTableComponents();
    }
}
