@namespace DRApplication.Client.Controls.Platforms
@inject MaintainerManager manager
@inject NavigationManager navigation

<div class="form-group">
    <label>Maintainer</label>
    <InputSelect ValueExpression="@(()=> SelectedMaintainerId)" id="deviceTypeSelect" DisplayName="Device Type" class="form-control" Value="SelectedMaintainerId"
                 ValueChanged="@((int? value) => ChangeMaintainer(value))">
        <option value=0>------</option>
        @foreach (var item in _maintainerVms)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
</div>