@namespace DRApplication.Client.Controls.Platforms
@inject MaintainerManager manager
@inject NavigationManager navigation

<div class="row">
    <div class="col-md-6 col-sm-12">
        @if (@MaintainerEditVm != null)
        {
            <EditForm Model="@MaintainerEditVm" OnValidSubmit="@UpdateMaintainer">

                <div class="form-group">
                    <label for="Name">Maintainer</label>
                    <InputText class="form-control" @bind-Value="MaintainerEditVm.Name" />
                </div>

                <SubmitButton ButtonText="Update"/>
                <CancelButton Url="/maintainers"/>
            </EditForm>
        }
    </div>
</div>

