@namespace DRApplication.Client.Controls
@inject AppState AppState
@inject IPlatformService PlatformService

<NewButton Url="/maintainer/create" />

@if (AppState.MaintainerVm.Id > 0 && !_isBusy)
{
    <MudTable Items="@AppState.MaintainerVms" Class="my-4" Hover="true" Striped="true" Dense="true">
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Maintainer</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Maintainer">@context.Maintainer</MudTd>
            <MudTd DataLabel="SELECT">
                <a href="/maintainer/edit/@context.Id" role="button">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>
                </a>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {

    bool _isBusy;

    private async Task SetMaintainers()
    {
        var maintainerVms = await PlatformService.GetMaintainerVmsAsync();
        AppState.UpdateMaintainerVms(this, maintainerVms);
    }
    protected override async Task OnInitializedAsync()
    {
        _isBusy = true;
        await SetMaintainers();
        _isBusy = false;
    }
}
