@page "/platform"

<h3 class="mb-3">Platform Page</h3>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item list-group-item-success flex-fill  m-3"><a class="nav-link" href="/devicetypes">Device Types</a></li>
  <li class="list-group-item list-group-item-success flex-fill  m-3"><a class="nav-link" href="/devices">Devices</a></li>
  <li class="list-group-item list-group-item-success flex-fill  m-3"><a class="nav-link" href="/maintainers">Maintainers</a></li>
</ul>