@namespace DRApplication.Client.Pages.Configuration
@page "/configuration"

<h3 class="mb-5">Configuration Page</h3>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/hardwaresystem">Hardware Systems</a></li>
  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/hardwareversion">Hardware Versions</a></li>
  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/hardwareconfig">Hardware Configurations</a></li>
  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/hardwareversionsconfig">Hardware Versions/Configs</a></li>
</ul>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/softwaresystem">Software Systems</a></li>
  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/softwareversion">Software Versions</a></li>
  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/versionsload">Versions/Loads</a></li>
</ul>

<ul class="list-group list-group-horizontal">

  <li class="list-group-item list-group-item-primary flex-fill m-3"><a class="nav-link" href="/load">Test Loads</a></li>
</ul>