@namespace DRApplication.Client.Pages.Configuration
@page "/load"

<h3>
    <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Size="Size.Large" Class="m-3" />
    Test Loads
</h3>

<div class="row">
    <div class="col col-md-8 col-sm-12">
        <LoadComponent />
    </div>
</div>