@namespace DRApplication.Client.Pages
@page "/versionsload"

<MudText Typo="Typo.h3" Class="mb-4">
    <MudIcon Icon="@Icons.Material.Filled.Code" Size="Size.Large" Class="m-3" />
    Versions/Loads
</MudText>

<div class="row">
    <div class="col col-md-8 col-sm-12">
        <VersionsLoadComponent />
    </div>
</div>